{% extends 'layout.html' %}

{% block body %}

<div class="container"></div>
<h2>Add Student</h2>
  <form action="" method="post" class="mt-5" enctype="multipart/form-data">

      {% csrf_token %}

      <div class="mb-3">
         <label class="form-label">Name</label>
         <input type="text" class="form-control" placeholder="Name" name="Name">
      </div>

      <div class="mb-3">
         <label class="form-label">Email</label>
         <input type="email" class="form-control" placeholder="email" name="Email">
      </div>

     <div class="mb-3">
         <label class="form-label">Age</label>
         <input type="number" class="form-control" placeholder="Age" name="Age">
     </div>

      <div class="mb-3">
         <label class="form-label">Image</label>
         <input type="file" class="form-control" name="Age" accept="image/jpeg, image/png">
     </div>


      <div class="mb-3">
         <input type="submit" class="form-control btn btn-success" value="submit">
      </div>
  </form>


{% endblock %}