{% extends 'layout.html' %}

{% load static %}

{%  block body %}

<div class="ones">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab at delectus dicta, modi omnis quisquam. A accusamus architecto impedit iste laudantium minima, neque, nulla numquam recusandae soluta, veritatis voluptatem?</p>

</div>
<p>home page</p>
<h3 class="one">Disclaimer!</h3>
<p>You are not just any developer. You are a Django Developer</p>
<img src="{% static 'images/logo.jpg' %}" alt="our logo">

<button class="btn btn-success">submit</button>

{% endblock %}