{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <h2 class="mt-5">Students List</h2>

   <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>


    <tr>
      <th scope="row">1</th>
      <td>Name</td>
      <td>Email</td>
      <td>Age</td>
      <th scope="col">Image</th>
    </tr>


  </tbody>
</table>


</div>

{% endblock %}